# Go workspace file
go.work
go.work.sum

# go vendor dir
vendor/

# mac os
.DS_Store
*/.DS_Store

# cmd/xxx/logs
cmd/*/logs
# cmd/plugin/xxx/logs
cmd/plugin/*/logs

# Editor directories and files
.idea/
.vscode/

# gen generate file
/plugin/*/model/dao/gen.go
/plugin/*/model/dao/*.gen.go
